html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2, span {
  font-family: "Dosis", sans-serif;
}

h2 {
  color: #512200;
  font-weight: bold;
}

.link-card {
  display: block;
  background-color:#dcd4cd;
  border: 3px solid #785439;
  border-radius: 3px;
  text-decoration: none;
  color: #785439;
  padding: 1rem;
  margin: 0 0 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
background-color: #512200;
}

.btn-wrap {
  text-align: center;
  margin: 0;
}

span {
  background-color: #785439;
  color: #fff;
  padding: .4em .75em .5em;
  border-radius: 8px;
}

dl dt {
  display: inline-block;
  margin: 0;
}

dl dd {
  display: inline-block;
  margin: 0;
  padding: .4em .75em .5em;
}

.info {
  border-top: 2px solid #785439;
  border-bottom: 2px solid #785439;
}
